[Unit]
Description=FastAPI Service
After=network.target

[Service]
WorkingDirectory=${HOME}
EnvironmentFile=${HOME}/aishell/.env
Environment="PATH=$PWD/../venv-aishell/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin"
ExecStart=$PWD/../venv-aishell/bin/python -m uvicorn aishell:app --host 0.0.0.0 --port 8000
Restart=always

[Install]
WantedBy=multi-user.target
